<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>214709178257-g19i5u2tvr23daempdeanenbbbkv597b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214709178257-g19i5u2tvr23daempdeanenbbbkv597b</string>
	<key>API_KEY</key>
	<string>AIzaSyCG0LtQLLdArEvlCGRDMN3wccOeA8Hm4MA</string>
	<key>GCM_SENDER_ID</key>
	<string>214709178257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pe.area51.Clase7Mod2</string>
	<key>PROJECT_ID</key>
	<string>clase7mod2-71140</string>
	<key>STORAGE_BUCKET</key>
	<string>clase7mod2-71140.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214709178257:ios:661f4cc9058a54f0</string>
	<key>DATABASE_URL</key>
	<string>https://clase7mod2-71140.firebaseio.com</string>
</dict>
</plist>